<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" id="header-navbar">
  <div class="container-fluid">
    <%= render "shared/back_button" %>
    <%= link_to home_path, class: "navbar-brand" do %>
      <div id="logo-text", class="mx-3">ACTIVE BUDDY</div>
    <% end %>
    <div id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
          <img src="<%= image_path(User::IMAGES[current_user.username.to_sym]) %>" alt="<%= current_user.username.to_s %> avatar" class="avatar", id= "navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img>
          <%#= image_tag "avatarnavbar.jpg", class: "avatar", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "My Profile", user_path(current_user), class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
