<h1>Create a new Event 📆</h1>

<%= simple_form_for(event) do |f| %>
  <div data-controller="character-counter"><%= f.input :title, input_html: { data: {character_counter_target: "input"} }, placeholder:'Write a catchy title 🧠' %>
  <p><em><strong data-character-counter-target="counter"></strong> characters long. (max. 35)</em></p>
  </div>
  <div data-controller="character-counter"><%= f.input :description, input_html: { data: {character_counter_target: "input"} }, placeholder:'Give details of your session 🚀' %>
  <p><em><strong data-character-counter-target="counter"></strong> characters long. (min. 15)</em></p>
  </div>
  <%= f.association :sport %>
  <%# <%= f.input :photo, as: :file %>
  <%= f.input :start_date, as: :string, input_html: { data: { controller: "flatpickr" } } %>
  <%= f.input :end_date, as: :string, input_html: { data: { controller: "flatpickr" }, id: "booking_end_date" } %>
  <%= f.input :cost %>
  <%= f.input :max_participants %>
  <%= f.input :address,
  input_html: {data: {address_autocomplete_target: "address"}},
  wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}
  %>
  <%= f.label :is_indoor do %>
    Check the box if the event is indoor!
    <%= f.check_box :is_indoor %>
  <% end %>
  <br>
  <br>
  <%= f.submit :class => "btn-red-create" %>
<% end %>
