<h2>What is your challenge today ?</h2>
<div class="main-search-container" data-controller="show-hide-display">
  <div class="justify-content-center search-container container-search-events-by-keyword"
  data-show-hide-display-target="keyword">
    <form novalidate="novalidate" class="simple_form search" id="form-search-events-by-keyword" action="/events" accept-charset="UTF-8" method="get">
      <div class="search-form-control form-group">
        <%= form_with url: events_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :keyword,
          params[:keyword],
          class: "form-control",
          placeholder: "ðŸ”  Search by keyword..."
          %>
        <% end %>
      </div>
      <div>
        <%= submit_tag "Search", name: "", id: "btn-search-events" %>
      </div>
    </form>
  </div>
  <div class="header-advanced-search-events">
    <div class="title-advanced-search" data-action="click->show-hide-display#displayAdvancedSearch">
      <i class="fa-solid fa-sliders"></i>
      <p>Advanced search</p>
    </div>
    <div class="close-advanced-search-events d-none" data-action="click->show-hide-display#displayKeywordSearch"
    data-show-hide-display-target="close">
      <i class="fa-regular fa-circle-xmark"></i>
    </div>
  </div>

  <div class="container-advanced-search-events d-none" data-show-hide-display-target="advanced">
    <%= simple_form_for :query, url: "/events", method: :get, id: "form-advanced-search-events" do |f|  %>
      <%= f.input :keyword, placeholder: "ðŸ”  Search by keyword...", label: "Search by keyword" %>
      <%= f.input :start_date, as: :string, input_html: { data: { controller: "flatpickr" } }, label: "Starting date" %>
      <%= f.input :end_date, as: :string, input_html: { data: { controller: "flatpickr" }, id: "booking_end_date" }, label: "Ending date" %>
      <%= f.input :sport_category, as: :select, collection: SportCategory.all, label: "Sport category" %>
      <%= f.label :is_indoor, id: "is-indoor-checkbox" do %>
        <%= f.check_box :is_indoor %>
        Indoor activity ?
      <% end %>
      <%= f.label :next_two_hours, id: "next-two-hours-checkbox" do %>
        <%= f.check_box :next_two_hours %>
          Train in the next two hours ?
        <% end %>
      <%= f.button :submit, value: "Submit", id: "btn-search-events" %>
    <% end %>
  </div>
</div>

<div class="events-container" data-controller="toggle-map-list map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  <div class="title-icons-box">
    <h2>Check our events</h2>
    <div class="list-button" data-action="click->toggle-map-list#displayList">
      <%= link_to events_path do %>
        <i class="fa-solid fa-list-ul"></i>
      <% end %>
    </div>
    <div class="map-button" data-action="click->toggle-map-list#displayMap click->map#resize">
      <%= link_to events_path do %>
        <i class="fa-solid fa-map-location-dot"></i>
      <% end %>
    </div>
  </div>
  <div class="map-container d-none" data-toggle-map-list-target="map">
    <div style="width: 100%; height: 500px;" data-map-target="map">
    </div>
  </div>

  <div class ="events-grid" data-toggle-map-list-target="list">
    <div class="cards">
      <% @events.each do | event | %>
        <%= link_to event_path(event) do %>
          <%= render partial: "/shared/event_big_card", locals: { event: event } %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<%= link_to new_event_path do %>
  <div id="add-event-button" class="btn-red"><i class="fa-solid fa-plus"></i></div>
<% end %>
