 <div class="card">
    <div class="event-card" style="background-image: radial-gradient(circle, rgba(50, 50, 50, 0.5), rgba(0, 0, 0, 0.8)), url(<%= image_path(Sport::IMAGES[@event.sport.name.to_sym]) %>)">
  <div class="text top-centered">
   <h3><%= @event.title %></h3>
  </div>
</div>
<div class="container">
        <p><%= @event.description %></p>
</div>

<%= link_to "PARTICIPATE", events_path(@event) , class: "btn-red" %>

    <div>
      <%= link_to events_path do %>
    <div>
     <p class="btn-back"><i class="fa-solid fa-chevron-left" style="color: #494949ff; font-size: 18px"></i>  Back to the list</p>
    </div>
  <% end %>
