<% if user_signed_in? %>
  <div class="welcome">
    <h1>Welcome back <%= current_user.username %>!</h1>
  </div>
<% end %>
<div class="section">
  <div class="section-title">
    <div>
      <h2>Plan your next training</h2>
    </div>
    <% if user_signed_in? %>
      <%= link_to events_path do %>
        <div>
          <p class="btn-red-small">See more  <i class="fa-solid fa-chevron-right" style="color: #ffffff;"></i></p>
        </div>
      <% end %>
    <% else %>
      <div class="icon-lock-black"></div>
    <% end %>
  </div>
  <div class="small-cards-list">
    <% @upcoming_events.first(@upcoming_events.length > 10 ? 10 : @upcoming_events.length).each do |event| %>
      <%= link_to root_path, class:"event-link" do %>
        <div class="event-card" style="background-image: radial-gradient(circle, rgba(50, 50, 50, 0.5), rgba(0, 0, 0, 0.8)), url(<%= image_path(Sport::IMAGES[event.sport.name.to_sym]) %>)">
          <h3><%= event.title %></h3>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<div class="section">
  <div class="section-title">
    <div>
      <h2>Now available near you</h2>
    </div>
    <% if user_signed_in? %>
      <%= link_to events_path do %>
        <div>
          <p class="btn-red-small">See more  <i class="fa-solid fa-chevron-right" style="color: #ffffff;"></i></p>
        </div>
      <% end %>
    <% else %>
      <div class="icon-lock-black"></div>
    <% end %>
  </div>
  <div class="small-cards-list">
    <% @events_later_today.first(@events_later_today.length > 10 ? 10 : @events_later_today.length).each do |event| %>
      <%= link_to root_path, class:"event-link" do %>
        <div class="event-card event-card-with-buddy" style="background-image: radial-gradient(circle, rgba(50, 50, 50, 0.5), rgba(0, 0, 0, 0.8)), url(<%= image_path(Sport::IMAGES[event.sport.name.to_sym]) %>)">
          <h3><%= event.sport.name %></h3>
          <p>with <%= event.event_creator.username %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<div class="section">
  <div class="section-title">
    <div>
      <h2>Last buddies you trained with</h2>
    </div>
    <% if user_signed_in? %>
      <%= link_to events_path do %>
        <div>
          <p class="btn-red-small">See more  <i class="fa-solid fa-chevron-right" style="color: #ffffff;"></i></p>
        </div>
      <% end %>
    <% else %>
      <div class="icon-lock-black"></div>
    <% end %>
  </div>
  <div class="users-cards-list">
    <% current_user.bookings.each do |booking| %>
      <div class="user-card">
        <div class="user-card-container">
          <div class="user-card-avatar" style="background-image: url(<%= image_path('louisa.jpg') %>)"></div>
          <div class="user-card-infos">
            <h3>
              <%= User.find(booking.event.user_id).username %>, <%= DateTime.now.year - User.find(booking.event.user_id).date_of_birth.year %>
            </h3>
          </div>
          <div class="user-card-sports">
            <p>
              <% User.find(booking.event.user_id).preferred_sports.each do |preferred_sport| %>
                <%= preferred_sport.sport.name %>
              <% end %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
