<% if user_signed_in? %>
  <div class="welcome">
    <h1>Welcome back <span><strong><%= current_user.username %></strong></span>!</h1>
  </div>
<% end %>
<div class="section">
  <div class="section-title">
    <div>
      <h2>Plan your next training</h2>
    </div>
    <% if user_signed_in? %>
      <%= link_to events_path do %>
        <div>
          <p class="btn-red-small">See more  <i class="fa-solid fa-chevron-right" style="color: #ffffff;"></i></p>
        </div>
      <% end %>
    <% else %>
      <%= link_to events_path do %>
        <div class="btn-lock align-self-center"><i class="fa-solid fa-lock" style="color: #ffffff;"></i></div>
      <% end %>
    <% end %>
  </div>
  <div class="small-cards-list">
    <% @upcoming_events.first(@upcoming_events.length > 10 ? 10 : @upcoming_events.length).each do |event| %>
      <%= link_to event_path(event), class:"event-link" do %>
        <div class="event-card" style="background-image: radial-gradient(circle, rgba(50, 50, 50, 0.5), rgba(0, 0, 0, 0.8)), url(<%= image_path(Sport::IMAGES[event.sport.name.to_sym]) %>)">
          <h3><%= event.title %></h3>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<div class="section">
  <div class="section-title">
    <h2>Now available near you</h2>
    <% if user_signed_in? %>
      <%= link_to events_path do %>
        <div>
          <p class="btn-red-small">See more  <i class="fa-solid fa-chevron-right" style="color: #ffffff;"></i></p>
        </div>
      <% end %>
    <% else %>
      <%= link_to events_path do %>
        <div class="btn-lock align-self-center"><i class="fa-solid fa-lock" style="color: #ffffff;"></i></div>
      <% end %>
    <% end %>
  </div>
  <div class="small-cards-list">
    <% @events_later_today.first(@events_later_today.length > 10 ? 10 : @events_later_today.length).each do |event| %>
      <%= link_to event_path(event), class:"event-link" do %>
        <div class="event-card event-card-with-buddy" style="background-image: radial-gradient(circle, rgba(50, 50, 50, 0.5), rgba(0, 0, 0, 0.8)), url(<%= image_path(Sport::IMAGES[event.sport.name.to_sym]) %>)">
          <h3><%= event.sport.name %></h3>
          <p>with <%= event.event_creator.username %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<% if user_signed_in? %>
  <div class="section">
    <div class="section-title">
      <h2>Buddies you trained with</h2>
      <%= link_to events_path do %>
        <div>
          <p class="btn-red-small">See more  <i class="fa-solid fa-chevron-right" style="color: #ffffff;"></i></p>
        </div>
      <% end %>
    </div>
    <div class="users-cards-list">
      <% @buddies.each do |user| %>
        <div class="user-card">
          <div class="user-card-container">
            <div class="user-card-avatar" style="background-image: url(<%= image_path('louisa.jpg') %>)"></div>
            <div class="user-card-infos">
              <h3>
                <%= user.username %><span>, <%= DateTime.now.year - user.date_of_birth.year %></span>
              </h3>
            </div>
            <div class="user-card-sports">
              <% user.preferred_sports.each do |preferred_sport| %>
                <span class="btn-blue-small">
                  <%= preferred_sport.sport.name %>
                </span>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
