<h2>Log in</h2>
<div class="login-session-container">
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }) do |f| %>
    <div class="form-inputs">
      <%= f.input :email,
                  required: false,
                  placeholder: 'user@email.com',
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
      <%= f.input :password,
                  required: false,
                  input_html: { autocomplete: "current-password" } %>
      <div class="remember-me-grid">
        <% if devise_mapping.rememberable? %>
          <%= f.check_box :remember_me, id: 'remember-me-checkbox'%>
          <%= f.label :remember_me, "Yes, remember me", id: 'remember-me-label' %>
        <% end %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Log in", id: "btn-login-in" %>
    </div>
  <% end %>
</div>

<div class="sign-up-and-forgot-password-container">
  <%= render "devise/shared/links" %>
</div>
